@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
/*HEADER DESK*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orange;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #00000047; }
  header a {
    color: white; }

.header__logo {
  display: inline-block; }
  .header__logo img {
    height: 100px; }

.header__menu {
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%; }
  .header__menu .dropdown {
    display: none; }

.header__menu__nav ul li {
  display: inline-block;
  padding: 0 30px;
  color: white;
  font-family: "Lexend Peta";
  font-size: 17px; }
  .header__menu__nav ul li a {
    text-decoration: none;
    position: relative; }
    .header__menu__nav ul li a:hover {
      color: white; }

.header__menu__nav ul li a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 0px;
  height: 1px;
  background: orange;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%); }

.header__menu__nav ul li:hover a:before {
  width: 100%; }

/*HEADER INDEX DESK*/
.index_header {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(29, 29, 29, 0.9);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0); }
  .index_header .header__logo {
    display: flex;
    justify-content: center;
    width: 100%; }

.index_header_menu {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  align-content: center; }
  .index_header_menu .index_header_menu_nav {
    width: 100%; }

.index_header_menu_nav ul {
  height: 100%;
  width: 100%; }
  .index_header_menu_nav ul li {
    font-family: "Lexend Peta";
    font-size: 20px;
    list-style: none;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .index_header_menu_nav ul li a {
      color: #fdfdfd;
      transition: all .3s ease;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
    .index_header_menu_nav ul li:hover {
      background-color: rgba(0, 0, 0, 0.226); }

/*HEADER TABLET*/
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .header__menu__nav ul li {
    display: inline-block;
    padding: 0 5px;
    color: white;
    font-family: "Lexend Peta";
    font-size: 19px;
    list-style-type: none; }
    .header__menu__nav ul li a:hover {
      color: white;
      text-decoration: none; } }

/*HEADER MOBILE*/
@media only screen and (max-width: 699px) {
  .header__menu .dropdown {
    display: block; }
    .header__menu .dropdown .dropdown-menu.show {
      left: 0px !important; }
    .header__menu .dropdown .dropdown-menu {
      top: 0px;
      padding-top: 25px;
      background: rgba(29, 29, 29, 0.9);
      transform: translate3d(-75px, 77px, 0px);
      position: fixed !important;
      left: -55% !important;
      transform: translateX(0) !important;
      height: 100vh;
      border: none !important;
      transition: all 0.5s ease;
      display: block !important;
      border-radius: 0px;
      width: 50%; }
      .header__menu .dropdown .dropdown-menu a {
        color: white;
        font-family: "Lexend Peta";
        font-size: 20px;
        height: 20%;
        display: flex;
        align-items: center; }
        .header__menu .dropdown .dropdown-menu a:hover {
          background: rgba(29, 29, 29, 0.8);
          font-size: 30px; }
  .header__menu .header__menu__nav {
    display: none; }
  .header__menu #dropdownMenuButton {
    background: none;
    border: none; }
  .header__menu #dropdownMenuButton:after {
    display: none; }
  .header__menu #dropdownMenuButton i {
    font-size: 25px; }
  .header__menu .header__menu .dropdown .dropdown-menu a {
    font-size: 15px; }
  /*INDEX HEADER MOPBILE*/
  .index_header_menu_nav {
    width: 100%;
    text-align: center; }
    .index_header_menu_nav a {
      font-family: "Lexend Peta";
      font-size: 50px;
      list-style: none;
      color: #c5c5c5; }
    .index_header_menu_nav :hover {
      color: white;
      font-family: "Lexend Peta";
      font-size: 50px; } }

/*BODY DESK*/
body {
  /*background-image: url('../Multimedia/Imagenes/main_background.jpg');*/
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.index_body {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/background_2.jpg);
  background-size: cover; }

.index_body_white {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/varios/IMG_20210308_101807467.jpg);
  background-size: cover; }

/*BODY TABLET*/
/*BODY MOBILE*/
/*VARIABLES*/
/*MAPS*/
.index_main {
  height: 290px;
  /*height: 290px;*/ }

/*GRAL DESK*/
main h1 {
  font-weight: 400;
  padding-left: 20px;
  margin-top: 250px;
  margin-bottom: 300px;
  text-align: center;
  font-size: 60px;
  font-family: "Lexend Peta";
  color: #f5ca3f; }

main .main__mobile__scroll__down {
  display: none; }

/*GALLERY DESK*/
.main__galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 98%;
  margin: auto;
  grid-gap: 0px;
  padding: 40px 0;
  overflow: hidden;
  z-index: 2; }
  .main__galeria a {
    display: block;
    position: relative;
    overflow: hidden; }
    .main__galeria a:hover img {
      transform: scale(1.1);
      filter: opacity(1); }
  .main__galeria img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
    filter: opacity(0.6); }

.main__article__lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }
  .main__article__lightbox img {
    width: 75vw;
    max-height: 90vh;
    object-fit: cover; }
  .main__article__lightbox:target {
    transform: scale(1); }
  .main__article__lightbox .main__article__close {
    display: block;
    position: absolute;
    top: 50px;
    right: 150px;
    background: black;
    color: #ffb414;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 20px;
    border-radius: 50%; }
  .main__article__lightbox .main__article__next {
    display: block;
    background: black;
    color: #ffb414;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 27px; }

/*SERVICES DESK*/
#main__contenedorServices {
  display: block;
  padding-bottom: 100px;
  background-image: url(../Multimedia/Imagenes/backgroundtest.jpg); }

.main__contenidoServices {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /*Services 1 */
  /*Services 2 */
  /*Services 3 */ }
  .main__contenidoServices .main__services_1 {
    display: flex; }
  .main__contenidoServices .main__services_2 {
    display: flex; }
  .main__contenidoServices .main__services_3 {
    display: flex; }
  .main__contenidoServices .main__services_1 {
    /*display: flex;*/
    text-align: left;
    margin-bottom: 300px;
    transform: scale(0.8);
    transition: 2s; }
    .main__contenidoServices .main__services_1 .main__service1_text {
      display: inline-block;
      width: 30%;
      text-align: center;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px; }
      .main__contenidoServices .main__services_1 .main__service1_text h3 {
        color: #f5ca3f;
        font-size: 30px;
        font-family: "Lexend Peta"; }
      .main__contenidoServices .main__services_1 .main__service1_text p {
        line-height: 30px;
        letter-spacing: 1.5px;
        color: white; }
    .main__contenidoServices .main__services_1 .carousel {
      width: 70%; }
    .main__contenidoServices .main__services_1 .carousel-item {
      width: 100%;
      height: 500px;
      /*height: 500px;*/ }
      .main__contenidoServices .main__services_1 .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1%; }
    .main__contenidoServices .main__services_1:hover {
      transform: scale(1);
      transition: 2s; }
  .main__contenidoServices .main__services_2 {
    /*display: flex;*/
    text-align: left;
    margin-bottom: 300px;
    transform: scale(0.8);
    transition: 2s; }
    .main__contenidoServices .main__services_2 .main__service2_text {
      display: inline-block;
      width: 30%;
      text-align: center;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px; }
      .main__contenidoServices .main__services_2 .main__service2_text h3 {
        color: #f5ca3f;
        font-size: 30px;
        font-family: "Lexend Peta"; }
      .main__contenidoServices .main__services_2 .main__service2_text p {
        line-height: 30px;
        letter-spacing: 1.5px;
        color: white; }
    .main__contenidoServices .main__services_2 .carousel {
      width: 70%; }
    .main__contenidoServices .main__services_2 .carousel-item {
      width: 100%;
      height: 500px;
      /*height: 500px;*/ }
      .main__contenidoServices .main__services_2 .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 1%; }
    .main__contenidoServices .main__services_2:hover {
      transform: scale(1);
      transition: 2s; }
  .main__contenidoServices .main__services_3 {
    /*display: flex;*/
    text-align: left;
    margin-bottom: 50px;
    transform: scale(0.8);
    transition: 2s; }
    .main__contenidoServices .main__services_3 .main__service3_text {
      display: inline-block;
      width: 30%;
      text-align: center;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px; }
      .main__contenidoServices .main__services_3 .main__service3_text h3 {
        color: #f5ca3f;
        font-size: 30px;
        font-family: "Lexend Peta"; }
      .main__contenidoServices .main__services_3 .main__service3_text p {
        line-height: 30px;
        letter-spacing: 1.5px;
        color: white; }
    .main__contenidoServices .main__services_3 .carousel {
      width: 70%; }
    .main__contenidoServices .main__services_3 .carousel-item {
      width: 100%;
      height: 500px;
      /*height: 500px;*/ }
      .main__contenidoServices .main__services_3 .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1%; }
    .main__contenidoServices .main__services_3:hover {
      transform: scale(1);
      transition: 2s; }

/*ABOUT DESK*/
#contenedor_about .contenido_about {
  text-align: center;
  padding-bottom: 100px; }
  #contenedor_about .contenido_about .text_descripcion {
    transform: scale(0.8);
    transition: 2s; }
    #contenedor_about .contenido_about .text_descripcion p {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-family: "Lexend Peta";
      font-size: 20px; }
    #contenedor_about .contenido_about .text_descripcion:hover {
      transform: scale(1);
      transition: 2s; }

.video_presentacion {
  padding-top: 150px;
  padding-bottom: 200px; }

/*CONTACT DESK*/
#contenedor {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  padding-bottom: 50px;
  box-shadow: 2px 2px 5px rgba(255, 196, 4, 0.5); }

.contenido {
  display: flex;
  width: 100%;
  overflow: hidden; }

.contenido .info,
.contenido .formulario {
  width: 70%; }

/* Estilos Info */
.info {
  margin: auto;
  margin-left: 100px; }
  .info .col {
    width: 90%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 40px; }
    .info .col .icono {
      color: #f5be0a;
      margin-right: 10px; }
    .info .col p {
      color: white;
      font-family: "Lexend Peta";
      margin: auto 0; }
  .info .redes-sociales {
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap; }
    .info .redes-sociales a {
      display: flex;
      width: 40px;
      height: 40px;
      text-decoration: none;
      margin: 5px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border-radius: 50%;
      box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.4); }
    .info .redes-sociales .a-twitter {
      background: #55acee;
      color: white; }
      .info .redes-sociales .a-twitter:hover {
        background: white;
        color: #55acee; }
    .info .redes-sociales .a-facebook {
      background: #3a5795;
      color: white; }
      .info .redes-sociales .a-facebook:hover {
        background: white;
        color: #3a5795; }
    .info .redes-sociales .a-instagram {
      background: #ee168d;
      color: white; }
      .info .redes-sociales .a-instagram:hover {
        background: white;
        color: #ee168d; }

/*Estilos Formulario */
.formulario {
  padding-right: 50px; }
  .formulario textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px; }
  .formulario button {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "Lexend Peta";
    letter-spacing: 3px;
    color: black;
    padding: 5px 20px 5px 20px;
    background: rgba(243, 187, 4, 0.829);
    border-color: #ffc404;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px; }

.formulario input[type='text'],
.formulario textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-weight: 400;
  outline: 0; }

/*CSS - MAIN TABLET*/
/*CSS - MAIN MOBILE*/
@media only screen and (max-width: 699px) {
  /*GALLERY MOBILE*/
  main .main__mobile__scroll__down {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -20px; }
    main .main__mobile__scroll__down img {
      animation: MoveUpDown 2s linear infinite;
      position: absolute;
      width: 40px; }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0; }
    50% {
      bottom: 100px; } }
  /*SERVICES MOBILE*/
  #main__contenedorServices {
    display: block;
    padding-top: 50px;
    padding-bottom: 100px; }
  .main__contenidoServices {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*Services 1 */
    /*Services 2 */
    /*Services 3 */ }
    .main__contenidoServices .main__services_1 {
      display: block; }
    .main__contenidoServices .main__services_2 {
      display: block; }
    .main__contenidoServices .main__services_3 {
      display: block; }
    .main__contenidoServices .main__services_1 {
      /*display: flex;*/
      text-align: center;
      padding-bottom: 50px; }
      .main__contenidoServices .main__services_1 .main__service1_text {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: auto; }
        .main__contenidoServices .main__services_1 .main__service1_text h3 {
          color: #f5ca3f;
          font-size: 30px;
          font-family: "Lexend Peta"; }
        .main__contenidoServices .main__services_1 .main__service1_text p {
          line-height: 30px;
          letter-spacing: 1.5px;
          color: #af8702; }
      .main__contenidoServices .main__services_1 .carousel {
        width: 100%; }
      .main__contenidoServices .main__services_1 .carousel-item {
        width: 100%;
        height: 500px;
        /*height: 500px;*/ }
        .main__contenidoServices .main__services_1 .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .main__contenidoServices .main__services_2 {
      /*display: flex;*/
      text-align: center;
      padding-bottom: 50px; }
      .main__contenidoServices .main__services_2 .main__service2_text {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: auto; }
        .main__contenidoServices .main__services_2 .main__service2_text h3 {
          color: #f5ca3f;
          font-size: 30px;
          font-family: "Lexend Peta"; }
        .main__contenidoServices .main__services_2 .main__service2_text p {
          line-height: 30px;
          letter-spacing: 1.5px;
          color: #af8702; }
      .main__contenidoServices .main__services_2 .carousel {
        width: 100%; }
      .main__contenidoServices .main__services_2 .carousel-item {
        width: 100%;
        height: 500px;
        /*height: 500px;*/ }
        .main__contenidoServices .main__services_2 .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .main__contenidoServices .main__services_3 {
      /*display: flex;*/
      text-align: center; }
      .main__contenidoServices .main__services_3 .main__service3_text {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: auto; }
        .main__contenidoServices .main__services_3 .main__service3_text h3 {
          color: #f5ca3f;
          font-size: 30px;
          font-family: "Lexend Peta"; }
        .main__contenidoServices .main__services_3 .main__service3_text p {
          line-height: 30px;
          letter-spacing: 1.5px;
          color: #af8702; }
      .main__contenidoServices .main__services_3 .carousel {
        width: 100%; }
      .main__contenidoServices .main__services_3 .carousel-item {
        width: 100%;
        height: 500px;
        /*height: 500px;*/ }
        .main__contenidoServices .main__services_3 .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  /*ABOUT MOBILE*/
  #contenedor_about h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 50px 0;
    padding-bottom: 25px;
    font-size: 45px;
    font-family: "Lexend Peta";
    color: #f5ca3f; }
  .contenido_about {
    text-align: center;
    padding-bottom: 100px; }
  .text_descripcion p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #af8702;
    font-family: "Lexend Peta";
    font-size: 20px; }
  .video_presentacion {
    padding-top: 100px; }
    .video_presentacion video {
      width: 100%; }
  /*CONTACT MOBILE*/
  #contenedor {
    width: 100%;
    margin-top: 50px; }
  .contenido {
    display: block;
    width: 100%;
    overflow: hidden; }
  .contenido .info,
  .contenido .formulario {
    width: 100%; }
  /* Estilos Info */
  .info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
    .info .col {
      width: 100%;
      font-size: 16px;
      align-items: center;
      flex-wrap: nowrap;
      padding-bottom: 20px; }
      .info .col .icono {
        color: #af8702;
        margin-right: 10px; }
      .info .col p {
        color: #c7c7c7;
        padding-left: 20px; }
    .info .redes-sociales {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px; }
      .info .redes-sociales a {
        display: flex;
        width: 40px;
        height: 40px;
        background: rgba(206, 158, 0, 0.637);
        color: white;
        margin: 5px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border-radius: 50%;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4); }
      .info .redes-sociales .a-twitter {
        background: #55acee;
        color: white; }
        .info .redes-sociales .a-twitter:hover {
          background: white;
          color: #55acee; }
      .info .redes-sociales .a-facebook {
        background: #3a5795;
        color: white; }
        .info .redes-sociales .a-facebook:hover {
          background: white;
          color: #3a5795; }
      .info .redes-sociales .a-instagram {
        background: #ee168d;
        color: white; }
        .info .redes-sociales .a-instagram:hover {
          background: white;
          color: #ee168d; }
  /*Estilos Formulario */
  .formulario {
    text-align: center; }
    .formulario button {
      text-decoration: none;
      font-weight: 600;
      font-size: 15px;
      font-family: "Lexend Peta";
      color: #fffefe;
      padding: 5px 20px 5px 20px;
      background: rgba(206, 158, 0, 0.637);
      border-width: 3px;
      border-style: solid;
      border-radius: 35px; }
  .formulario input[type='text'],
  .formulario textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: black;
    font-weight: 400;
    outline: 0; } }

/*FOOTER DESK*/
footer {
  position: relative;
  bottom: 0; }
  footer .footer_text {
    color: white;
    font-family: "Lexend Peta";
    text-align: center;
    font-size: 12px; }

.index_footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0; }
  .index_footer p {
    color: white;
    font-family: "Lexend Peta";
    text-align: right;
    font-size: 12px; }

/*FOOTER TABLET*/
/*CSS - FOOTER MOBILE*/
* {
  /*box-sizing: border-box;
    outline: solid 3px rgb(219, 7, 7);*/
  margin: 0;
  padding: 0; }
