/* -----------------------------------------------------------------------------------------------------
                                              CSS - BODY DESK
----------------------------------------------------------------------------------------------------- */
body {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #383838;
    background-size: cover;
}

.index_body {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../Multimedia/Imagenes/background_2.jpg);
    background-size: cover;
}
.index_body_white {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../Multimedia/Imagenes/varios/IMG_20210308_101807467.jpg);
    background-size: cover;
}

/* -----------------------------------------------------------------------------------------------------
                                              CSS - BODY TABLET
----------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:700px){

}

/* -----------------------------------------------------------------------------------------------------
                                              CSS - BODY MOBILE
----------------------------------------------------------------------------------------------------- */
@media only screen and (max-width:699px){

}