/*BODY DESK*/
body {
    /*background-image: url('../Multimedia/Imagenes/main_background.jpg');*/
    background-color: rgb(0, 0, 0);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.index_body {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../Multimedia/Imagenes/background_2.jpg);
    background-size: cover;
}
.index_body_white {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../Multimedia/Imagenes/varios/IMG_20210308_101807467.jpg);
    background-size: cover;
}

/*BODY TABLET*/
@media only screen and (min-width:700px){

}

/*BODY MOBILE*/
@media only screen and (max-width:699px){

}