/*FOOTER DESK*/
footer{
    position: relative;
    bottom: 0;
    .footer_text {
        color: rgb(255, 255, 255);
        font-family: $font-primary;
        text-align: center;
        font-size: 12px;
    }
}

.index_footer{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    background: rgba(178, 180, 180, .2);

    p {
        color: white;
        font-family: $font-primary;
        text-align: center;
        font-size: 12px;
    }
}


/*FOOTER TABLET*/
@media only screen and (min-width:700px){

}

/*CSS - FOOTER MOBILE*/
@media only screen and (mmax-width:699px){

}