/*FOOTER DESK*/
footer{
    position: relative;
    bottom: 0;

    .footer_text {
        color: rgb(0, 0, 0);
        font-family: 'Poiret One';
        text-align: center;
    }
}

.index_footer{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    background: rgba(178, 180, 180, .2);

    p {
        color: white;
        font-family: 'Poiret One';
        text-align: center;
    }
}


/*FOOTER TABLET*/
@media only screen and (min-width:700px){

}

/*CSS - FOOTER MOBILE*/
@media only screen and (mmax-width:699px){

}