/*FOOTER DESK*/
footer{
    position: relative;
    bottom: 0;
    .footer_text {
        color: rgb(255, 255, 255);
        font-family: $font-primary;
        text-align: center;
        font-size: 12px;
    }
}

.index_footer{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;

    p {
        color: white;
        font-family: $font-primary;
        text-align: right;
        font-size: 12px;
    }
}


/*FOOTER TABLET*/
@media only screen and (min-width:700px){

}

/*CSS - FOOTER MOBILE*/
@media only screen and (max-width:699px){

.index_footer{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        margin: 0;
    }
}

footer{
    background-color: none;
    .footer_text{
        background-color: none;

        p{
            background-color: none;
        }
    }
}
}