/*VARIABLES*/
$heightini:100px;
$i:1;
$font-primary: 'Lexend Peta';
/*MAPS*/
$redes:(
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #ee168d
);
.index_main{
    height: ($heightini*2)+90;
    /*height: 290px;*/
}


/*GRAL DESK*/
main{
    h1{
        font-weight: 400;
        padding-left: 20px;
        margin-top: 250px;
        margin-bottom: 300px;
        text-align: center;
        font-size: 60px;
        font-family: $font-primary;
        color: rgb(245, 202, 63);
    }
}

/*GALLERY DESK*/
.main__galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 98%;
    margin: auto;
    grid-gap: 0px;
    padding: 40px 0;
    overflow: hidden;
    z-index: 2;

    a{
        display: block;
        position: relative;
        overflow: hidden;

        &:hover{
            img{
                transform: scale(1.1);
                filter: opacity(1);
            }
        }
    }

    img{
        width: 100%;
        vertical-align: top;
        object-fit: cover;
        transition: transform 0.5s;
        filter: opacity(0.6);
    }


}

.main__article__lightbox{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

    img{
        width: 75vw;
        max-height: 90vh;
        object-fit: cover;
    }

    &:target{
        transform: scale(1);
    }

    .main__article__close{
        display: block;
        position: absolute;
        top: 50px;
        right: 150px;
        background: black;
        color:rgb(255, 180, 20);
        text-decoration: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 37px;
        font-size: 20px;
        border-radius: 50%;
    }

    .main__article__next{
       display: block;
       background: black;
       color:rgb(255, 180, 20);
       width: 30px;
       height: 30px;
       font-size: 20px;
       text-align: center;
       text-decoration: none;
       line-height: 27px;
    }
}

/*SERVICES DESK*/
#main__contenedorServices {
    display: block;
    padding-bottom: 100px;
    background-image: url(../Multimedia/Imagenes/backgroundtest.jpg);
}
.main__contenidoServices {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    @for $i from 1 through 3{
        .main__services_#{$i} {display: flex;}
    }
    /*Services 1 */
    .main__services_1{
        /*display: flex;*/
        text-align: left;
        margin-bottom: 300px;
        transform: scale(0.8); 
        transition: 2s;
        .main__service1_text{
            display: inline-block;
            width: 30%;
            text-align: center;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px;  
                color: rgb(255, 255, 255);
            }
        }
        .carousel{
            width: 70%;
            
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1%
            }
        }

        &:hover{
            transform: scale(1); 
            transition: 2s;
        }
    }
    /*Services 2 */
    .main__services_2{
        /*display: flex;*/
        text-align: left;
        margin-bottom: 300px;
        transform: scale(0.8); 
        transition: 2s;
        .main__service2_text{
            display: inline-block;
            width: 30%;
            text-align: center;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px; 
                color: rgb(255, 255, 255); 
            }
        }
        .carousel{
            width: 70%;
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 1%
            }
        }

        &:hover{
            transform: scale(1); 
            transition: 2s;
        }

    }
    /*Services 3 */
    .main__services_3{
        /*display: flex;*/
        text-align: left;
        margin-bottom: 50px;
        transform: scale(0.8); 
        transition: 2s;
        .main__service3_text{
            display: inline-block;
            width: 30%;
            text-align: center;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px;  
                color: rgb(255, 255, 255);
            }
        }
        .carousel{
            width: 70%;
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1%
            }
        }

        &:hover{
            transform: scale(1); 
            transition: 2s;
        }
    }
}

/*ABOUT DESK*/
#contenedor_about {

    .contenido_about {
        text-align: center;
        padding-bottom: 100px;

        .text_descripcion{ 
            transform: scale(0.8); 
            transition: 2s;
            p {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            color: rgb(255, 255, 255); 
            font-family: $font-primary;
            font-size: 20px;
            }

            &:hover{
                transform: scale(1); 
                transition: 2s;
            }
        }
    }
}
.video_presentacion {
    padding-top: 150px;
    padding-bottom: 200px;
}

/*CONTACT DESK*/
#contenedor {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 5px rgba(255, 196, 4, 0.5);   
}

.contenido {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.contenido .info,
.contenido .formulario {
    width: 70%;
}

/* Estilos Info */
.info {
    margin: auto;
    margin-left: 100px;
    .col {
        width: 90%;
        display: flex;
        margin-bottom: 15px;
        font-size: 16px;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 40px;

        .icono {
            color: rgb(245, 190, 10);
            margin-right: 10px;
        }

        p {
            color: rgb(255, 255, 255);
            font-family: $font-primary;
            margin: auto 0;
        }
    }

    .redes-sociales {
        width: 100%;
        overflow: hidden;
        padding-left: 25px;
        display: flex;
        flex-wrap: wrap;

        a {
            display: flex;
            width: 40px;
            height: 40px;
            text-decoration: none;
            margin: 5px;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-radius: 50%;
            box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.4);     
        }
        @each $red, $color in $redes {
            .a-#{$red}{
                background: $color;
                color: white;
                &:hover{
                    background: white;
                    color: $color;
                }
            }
        }

    }
}

/*Estilos Formulario */
.formulario {
    padding-right: 50px;
    textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
        max-height: 200px;
    }

    button{
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        font-family: $font-primary;
        letter-spacing: 3px;
        color: rgb(0, 0, 0);
        padding: 5px 20px 5px 20px;
        background: rgba(243, 187, 4, 0.829);
        border-color: rgb(255, 196, 4);
        border-width: 3px;
        border-style: solid;
        border-radius: 35px;
    }
}



.formulario input[type='text'],
.formulario textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-weight: 400;
    outline: 0;
}

/*CSS - MAIN TABLET*/
@media only screen and (min-width:700px){

}

/*CSS - MAIN MOBILE*/
@media only screen and (max-width:699px){

/*SERVICES MOBILE*/
#main__contenedorServices {
    display: block;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main__contenidoServices {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @for $i from 1 through 3{
        .main__services_#{$i} {display: block;}
    }
    /*Services 1 */
    .main__services_1{
        /*display: flex;*/
        text-align: center;
        padding-bottom: 50px;
        .main__service1_text{
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: auto;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px;  
                color: rgb(175, 135, 2);
            }
        }
        .carousel{
            width: 100%;
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    /*Services 2 */
    .main__services_2{
        /*display: flex;*/
        text-align: center;
        padding-bottom: 50px;
        .main__service2_text{
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: auto;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px; 
                color: rgb(175, 135, 2); 
            }
        }
        .carousel{
            width: 100%;
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    /*Services 3 */
    .main__services_3{
        /*display: flex;*/
        text-align: center;
        .main__service3_text{
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: auto;
            h3{
                color: rgb(245, 202, 63);
                font-size: 30px;
                font-family: $font-primary;
            }
            p{
                line-height: 30px;
                letter-spacing: 1.5px;  
                color: rgb(175, 135, 2);
            }
        }
        .carousel{
            width: 100%;
        }
        .carousel-item{
            width: 100%;
            height: $heightini*5;
            /*height: 500px;*/

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


/*ABOUT MOBILE*/
#contenedor_about h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 50px 0;
    padding-bottom: 25px;
    font-size: 45px;
    font-family: $font-primary;
    color: rgb(245, 202, 63);
}
.contenido_about {
    text-align: center;
    padding-bottom: 100px;
}
.text_descripcion{ 
    
    p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(175, 135, 2); 
    font-family: $font-primary;
    font-size: 20px;
    }
}

.video_presentacion {
    padding-top: 100px;

    video{
        width: 100%;
    }  
}



/*CONTACT MOBILE*/
 #contenedor {
    width: 100%;
    margin-top: 50px;
}

.contenido {
    display: block;
    width: 100%;
    overflow: hidden;
}

.contenido .info,
.contenido .formulario {
    width: 100%;
}

/* Estilos Info */
.info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .col {
        width: 100%;
        font-size: 16px;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 20px;

        .icono {
            color: rgb(175, 135, 2);
            margin-right: 10px;
        }

        p {
            color: rgb(199, 199, 199);
            padding-left: 20px;
        }
    }

    .redes-sociales {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;


        a {
            display: flex;
            width: 40px;
            height: 40px;
            background: rgba(206, 158, 0, 0.637);
            color: rgb(255, 255, 255);
            margin: 5px;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-radius: 50%;
            box-shadow: 0px 3px 7px rgba(0, 0, 0, .4);
        }
        
        @each $red, $color in $redes {
            .a-#{$red}{
                background: $color;
                color: white;
                &:hover{
                    background: white;
                    color: $color;
                }
            }
        }
    }
}

/*Estilos Formulario */

.formulario {
    text-align: center;

    button{
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        font-family: $font-primary;
        color: rgb(255, 254, 254);
        padding: 5px 20px 5px 20px;
        background: rgba(206, 158, 0, 0.637);
        border-width: 3px;
        border-style: solid;
        border-radius: 35px;
    }
}
.formulario input[type='text'],
.formulario textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: rgb(0, 0, 0);
    font-weight: 400;
    outline: 0;
}

}

