@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Alfa+Slab+One&family=Miniver&family=Swanky+and+Moo+Moo&family=Zilla+Slab+Highlight&display=swap');
@import "header";
@import "body";
@import "main";
@import "footer";

* {
    /*box-sizing: border-box;
    outline: solid 1px gray;*/
    margin: 0;
    padding: 0;
}  

/*PRUEBA 1 GIT*/
/*PRUEBA 2 GIT*/