@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import "header";
@import "body";
@import "main";
@import "footer";

* {
    /*box-sizing: border-box;
    outline: solid 3px rgb(219, 7, 7);*/
    margin: 0;
    padding: 0;
}  

